.leaflet-popup-content {
  font-family:Lato;
  line-height:150%;
  font-size:16px;
  width:480px !important;
  max-height:340px;
  overflow:hidden;
  overflow-y:auto;

  h1, h2 {
    padding:0;
    margin:0;
  }

  h1 {
    font-size:18px;
  }

  .alias, .admin-unit {
    font-size:14px;
    line-height:120%;
  }

  h2 {
    font-size:16px;
    font-weight:normal;
  }

  p {
    line-height:180%;
  }

  img {
    max-width: 400px;
  }

}
