@mixin rounded-corners($radius) {
  -webkit-border-radius:$radius;
   -khtml-border-radius:$radius;
     -moz-border-radius:$radius;
          border-radius:$radius;
}

@mixin box-shadow($x, $y, $r, $color) {
  -webkit-box-shadow:$x $y $r $color;
     -moz-box-shadow:$x $y $r $color;
          box-shadow:$x $y $r $color;
}
